<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag 'application', media: 'all'%>
  <title>FEELA</title>
</head>
<body>
  <header>
    <h1>
      <%= link_to "FEELA","/", class:"headline" %>
    </h1>
    <ul class = "nav-list"></ul>
      <li class="nav-list-item"><%= link_to "posts",posts_path, class:"list-item" %></li>
      <li class="nav-list-item"><%= link_to "creat new post",new_post_path, class:"list-item" %></li>
  </header>
  <div>
    <%= image_tag 'top.jpeg', class:"image_area"%>
  </div>
  <footer>
    <p>© All rights reserved by feela.</p>
  </footer>
</body>
</html>